@font-face {
  font-family: "Chaloops Regular";
  src: url(/assets/ChaloopsW00Reg.ttf) format("truetype");
}


html body, #map {
    background: url('test1.png');
    overflow-y: hidden;
    overflow-x: hidden;
    text-decoration: none;
}
a{
text-decoration:none;
}
a:hover
{
   text-decoration: none;
}

.container {
  height: 752px;
  width: 1440px;
  position: relative;
}

.logotitle {
  left: 890px;
  bottom: 320px;
  position: absolute;
  font-family: "Chaloops Regular";
  font-size: 78px;
  color: #E8E2D3;
  -webkit-transform: rotate(28deg);
  -moz-transform: rotate(28deg);
}

.ellipse
{
  height:210px;
  width:320px;
  position: absolute;
  bottom: 260px;
  left: 838px;
  border: 4px solid #E8E2D3;
  border-radius:160px / 105px;
  background-color:transparent;
      -webkit-transform: rotate(28deg);
  /* Firefox */
    -moz-transform: rotate(28deg);
}


 .home_landing_link {
    font-family: "Chaloops Regular";
    position: absolute;
    bottom: 205px;
    right: 550px;
   /* top: 510px;
    right: 820px*/;
    font-size: 38px;
    color: #E8E2D3;
    text-decoration: none;
    -webkit-transform: rotate(27deg);
  /* Firefox */
    -moz-transform: rotate(27deg);

}


 .home_landing_link {
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}
.home_landing_link:hover {
  border-bottom: 5px solid rgba(192, 192, 192, 1);
}

 .menu_landing_link {
    font-family: "Chaloops Regular";
    position: absolute;
    bottom: 135px;
    left: 940px;
   /* top: 510px;
    right: 820px*/;
    font-size: 38px;
    color: #E8E2D3;
    text-decoration: none;
    -webkit-transform: rotate(27deg);
  /* Firefox */
    -moz-transform: rotate(27deg);

}


 .menu_landing_link {
  border-bottom: 1px solid rgba(192, 192, 192, 0);
  -webkit-transition: border 500ms ease;
  -moz-transition: border 500ms ease;
  -ms-transition: border 500ms ease;
  -o-transition: border 500ms ease;
  transition: border 500ms ease;
}
.menu_landing_link:hover {
  border-bottom: 5px solid rgba(192, 192, 192, 1);
}
